.navbar{
  position: fixed;
  top: 0;
  width: 100vw;
  background-image: radial-gradient(#3944BC, #0492C2, #52B2BF);
}
.navbar > h1{
  font-size: 1.2em;
  margin: 0;
  top: 50%;
}
.nav-link > a{
  justify-content: space-between;
  margin-right: 15px;
  color: #FFA500;
  padding: 2px 4px 2px 4px;
  box-sizing: border-box;
  border: 2px solid #000000;
  box-shadow: 2px 2px 5px 5px #000000;
  border-radius: 999px;
}
.nav-link >a:hover{
  text-decoration: none;
  color: #3944BC;
  background-color: #FFA500;
  font-size: 1.5em;
}
#introduction{
  background-image: radial-gradient(#3944BC, #0492C2, #52B2BF);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.greetings{
grid-column: 1/2;
}
.photo{
grid-column: 2/3;
}
.pushDown{
  margin-left: 10%;
  margin-top: 15%;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}
button{
  background-color: #FFA500;
  width: 180px;
  height: 50px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 50px;
}
button:hover{
  background-color: #FFFFFF;
}
#contact{
  height: 100vh;
}
#location{
  margin-top: 40px;
}
.hidden{
  display: none;
}
#message1{
  width: 80px;
  position: absolute;
  height: 30px;
  border-radius: 45%;
  background-color: #FFA500;
  margin-left: 330px;
  margin-top: -95px;
  box-shadow: 0 0 15px 15px #3944BC;
}
#message{
  float: left;
  position: absolute;
  width: 320px;
  height: 40px;
  background-color: #FFA500;
  border-radius: 45%;
  box-shadow: 1px 1px 15px 5px #000000;
  margin-left: 200px;
  margin-top: -50px;
  text-align: center;
  color: #3944BC;
}
#myJob{
  margin-top: 40px;
}
#myName{
  
  font-size: 2.8em;
}
@keyframes upAndDown{
  0%{
    bottom: 50px;;
  }
  50%{
    bottom: 150px;
  }
  100%{
    bottom: 50px;
  }
}
.codingPhoto{
  animation-duration: 7s;
  animation-name: upAndDown;
  animation-iteration-count: infinite;
  animation-direction: linear;
  width: 30%;
  height: auto;
  border-radius: 25px;
  position: absolute;
}
#photoPosition{
  margin-top: 20%;
}
#resizeEmoji{
  animation-duration: 0.3s;
  animation-name: shake;
  animation-iteration-count: 3;
  animation-direction: alternate;
  width: 50px;
  height: auto;
}
@keyframes shake{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(60deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
#contactHead{
  text-align: center;
  color: #FFA500;
}
#contact{
  background-image: radial-gradient(#3944BC, #0492C2, #52B2BF);
  height: 100vh;
  width: 100vw;
  margin-top: 70px;
}
#email{
float: left;
width: 300px;
height: 200px;
border-radius: 10px;
box-shadow: 1px 1px 5px 5px #3944BC;
margin-right: 30px;
margin-top: 15%;
margin-bottom: 25%;
margin-left: 18%;
}
#email:hover{
  width: 330px;
  height: 220px;
}
#socialMedia{
float: left;
width: 300px;
height: 200px;
border-radius: 10px;
box-shadow: 1px 1px 5px 5px #3944BC;
margin-top: 15%;
margin-bottom: 25%;
margin-right: 30px;
}
#socialMedia:hover{
  width: 330px;
  height: 220px;
}
#phone{
float: left;
width: 300px;
height: 200px;
border-radius: 10px;
box-shadow: 1px 1px 5px 5px #3944BC;
margin-top: 15%;
margin-bottom: 25%;
}
#phone:hover{
  width: 330px;
  height: 220px;
}
.resizePhoto{
  width: 25%;
  height: 25%;
  margin-top: 40px;
  margin-left: 35%;
}
.resizePhotoSmaller{
  width:15%;
  height: 15%;
  margin-left: 35%;
  border-radius: 50%;
}
#resume{
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(#3944BC, #0492C2, #52B2BF);
}
#education{
  float: left;
  width: 35%;
  height: 60%;
  box-shadow: 1px 1px 5px 5px #3944BC;
  border-radius: 15px;
  margin-left: 12%;
  margin-right: 3%;
  text-align: center;
  margin-top: 4%;
}
#work{
  float: left;
  width: 35%;
  height: 60%;
  box-shadow: 1px 1px 5px 5px #3944BC;
  border-radius: 15px;
  text-align: center;
  margin-top: 4%;
}
#myWork{
  width: 100vw;
  height: 100vh;
}
#workExamples{
  box-shadow: 1px 1px 5px 5px #FFA500;
  width: 80vw;
  border-radius: 15px;
  margin-left: 10%;
  
}
.centralize{
  text-align: center;
}
p,h1,h5,h4,h6,ul,h3{
  color: #FFA500;
  margin-top: 25px;
}
#home{
  float: left;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 150px;
  height: 60px;
  background-color: #FFA500;
  border-radius: 50%;
}
#about{
  width: 100vw;
  height: 100vh;
}
#aboutInAbout{
  margin-top: 10%;
  text-align: center;
}
#aboutMe{
  float: left;
  width: 80vw;
  margin-top: 2.2%;
  margin-left: 10%;
  margin-bottom: 1%;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 5px #FFA500;
}
.centeredList{
  margin-left: 45%;
}
footer{
  background-color: #000000;
  width: 100vw;
  height: 300px;
  color: #FFFFFF;
}
.footerText{
  float: left;
  margin-left: 80px;
}
.links{
  float: left;
  margin-left: 20px;
}
#workExamples > a > img{
  float: left;
  width: 330px;
  height: 220px;
  margin-top: 30px;
  margin-left: 2.3%;
  justify-content: space-between;
  box-shadow: 2px 2px  5px 5px #FFA500;
  border-radius: 12px;
}
#workExamples > button{
  margin-left: 40%;
  margin-bottom: 5%;
  width:fit-content;
  border-radius: 999px;
}
#workExamples > button >a{
  color: #3944BC;
}
#workExamples > button:hover{
  background-color: #3944BC; 
}
#workExamples > button > a:hover{
  text-decoration: none;
  color: #FFA500;
  font-size: 1.3em;
}